* {
    margin: 0;
}

.box {
    /*box model practice*/
    font-size: 2rem;
    background-color: pink;
    height: 200px;
    width: 400px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right:32px;
    padding-bottom: 64px;
    margin:0px;
    border: solid 5px red;
    padding: 32px 32px 64px 32px; /*understanding the box model with the priciple of clockwise direction*/
    box-sizing: border-box; /*border-box element is specifically used to specify generally the 'width and height' size rather than just the content*/
}